form input{
    display: block;
    margin-bottom: 8px;
    padding: 10px;
}

button {
    max-width: 185px;
    width: 100%;
    padding: 12px;
}

button {
    background-color: limegreen;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:green ;
}

.sucess-message {
    background-color: green;
    padding: 16px;
    color: #fff;
    display:none;
}